@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'partials/variables';

// Navbar Styles
.navbar {
    background-color: $navbar-bg-color;
    .navbar-brand {
        color: $navbar-brand-color;
        font-weight: bold;
        margin-left: 10px;

        &:hover {
            color: $navbar-brand-color;
        }
    }

    .nav-link {
        color: $navbar-text-color;
        font-weight: bold;

        &:hover {
            color: lighten($navbar-text-color, 20%);
        }
    }

    .dropdown-menu {
        background-color: $navbar-bg-color;
    }
}

// Stile per la scrollbar del box Itinerario
.itinerary-scroll {
    max-height: 300px; 
    overflow-y: auto;    
    overflow-x: hidden;    
    padding-right: 15px; 
}

// Stile per ingrandire la textarea
#dettagli {
    min-height: 100px; // Aumentato per meglio visualizzare i dettagli
    resize: vertical; 
}

// Stile per il box Informazioni sul Viaggio
.info-box {
    min-height: 550px; // Altezza aumentata per includere tutti i campi e la sezione immagine
    height: auto;    
    overflow-y: auto; // Permette lo scroll se il contenuto supera l'altezza minima
}

// Sfondo del corpo con immagine del logo
body {
    font-family: 'Poppins', sans-serif;
    color: $text-color; /* Colore del testo */
    position: relative;
    overflow-x: hidden; // Evitare lo scroll orizzontale indesiderato
}

// Aggiungere il logo in trasparenza come sfondo
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;  // Assicura che l'immagine copra l'intera area
    background-repeat: no-repeat;  // Previene la ripetizione dell'immagine
    background-position: center;  // Centra l'immagine
    z-index: -1;
    transition: background-image 1s ease-in-out;
}
// Stili dei titoli e card
h1, .card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: $primary-color; /* Colore per titoli */
}

.card {
    width: 100%; // Larghezza fissa adattata
    max-width: 600px; // Larghezza massima per una visualizzazione migliore
    min-height: 500px; // Altezza minima
    overflow: hidden; // Nascondere il contenuto che eccede
    background-color: rgba(159, 238, 227, 0.3); // Sfondo bianco semi-trasparente
    color: $text-color;
    margin-bottom: 20px; // Aumentato per separare meglio le card
    padding: 20px; // Aumento del padding interno per il contenuto
    border-radius: 8px; // Bordo arrotondato
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombra leggera per far risaltare le card
}

.card-img-top {
    height: 250px; // Maggiore altezza disponibile per l'immagine
    object-fit: cover;
    border-top-left-radius: 8px; // Arrotonda gli angoli superiori
    border-top-right-radius: 8px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    max-height: 200px; // Altezza massima per il contenuto
    overflow-y: auto; // Aggiunge uno scroll verticale se il contenuto eccede
    padding-bottom: 50px; 
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 5px;
    // Sfondo semi-trasparente per evidenziarlo
}

.card-footer .crud-icon {    
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.crud-icon a {
    text-decoration: none; /* Rimuove la sottolineatura dei link */
}

.row .col-md-4 {
    padding-left: 10px; 
    padding-right: 10px;
}

/* Footer Styles */
footer {
    background-color: #070707;
    color: white;
    padding: 4rem 1rem;
    text-align: center;
    margin-top: 5rem;

    h5 {
        font-family: 'Verdana', sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
        text-transform: uppercase;
    }

    p, ul li a {
        font-family: 'Verdana', sans-serif;
        font-size: 0.9rem;
        line-height: 1.5;
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .container {
        hr {
            background-color: lightgray;
        }
        p.mb-0 {
            font-size: 0.8rem;
        }
    }
}