@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'partials/variables';


html, body {
    height: 100%;
}

// Allineo al centro la griglia e i contenitori flessibili
.grid-container, .d-flex {
    justify-content: center;
}

// Imposto la larghezza uniforme per immagine, mappa e sezioni informative
.viaggio-media, .map-container, .info-box {
    max-width: 800px; // Imposto la larghezza massima
    width: 100%; 
    margin: 0 auto; // Centro gli elementi orizzontalmente
}

// Gestisco le sezioni Informazioni e Itinerario, che rimangono affiancate
.d-flex {
    flex-wrap: wrap; // Su dispositivi piccoli, le sezioni andranno in colonna
}

// Gestisco le sezioni per dispositivi più grandi
@media (min-width: 992px) {
    .d-flex {
        flex-direction: row; // Affianco le sezioni su schermi più grandi
        justify-content: space-between; // Mantengo lo spazio tra le sezioni
    }
}

// Stile per la mappa
.map-container {
    height: 400px; // Altezza fissa per la mappa
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); // Aggiungo ombra per migliorare il design
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 8px; // Aggiungo bordi arrotondati
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); // Ombreggiatura per coerenza con le card
}

// Stile della navbar
.navbar {
    background-color: $navbar-bg-color;
    .navbar-brand {
        color: $navbar-text-color;
        font-weight: bold;
        margin-left: 10px;

        &:hover {
            color: lighten($navbar-text-color, 20%);
        }
    }

    .nav-link {
        color: $navbar-text-color;
        font-weight: bold;
        transition: color 0.4s ease;

        &:hover {
            color: $accent-color;
        }
    }

    .dropdown-menu {
        background-color: $navbar-bg-color;
    }
}

// Stile per la scrollbar del box Itinerario
.itinerary-scroll {
    max-height: 300px; // Limito l'altezza massima del box
    overflow-y: auto;    
    overflow-x: hidden;    
    padding-right: 15px; // Spazio extra per la scrollbar
}

// Stile per i box delle informazioni e dell'itinerario
.info-box, .itinerary-card {
    min-height: 550px; // Imposto un'altezza minima
    height: auto;    
    overflow-y: auto; 
    background-color: rgba(5, 45, 94, 0.6);
    color: $text-color; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

// Stile per titoli e card
h1, .card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: $primary-color; 
}

// Stile della sezione header
.header-section {
    background-color: hsl(211, 74%, 8%);
    color: white;
    padding: 2rem;
    text-align: center;

    h3 {
        font-family: 'Bungee', sans-serif;   
        font-size: 3rem;
        text-align: center;
        margin-bottom: 15px;
    }
}

// Video di background a schermo intero
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

// Adatto il video allo schermo
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

// Stile per la sezione header con background semi-trasparente
.header-section {
    position: relative;  
    z-index: 1;  
    color: white;  
    text-align: center;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5);  
}

// Definisco l'animazione di sfondo gradiente
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// Stile per la card
.card {
    width: 100%;
    max-width: 600px; // Larghezza massima per la card
    min-height: 500px; // Altezza minima
    overflow: hidden;
    background-color: rgba(5, 45, 94, 0.6); 
    color: $text-color;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

// Stile per l'immagine nella card
.card-img-top {
    height: 250px;
    object-fit: cover; // Adatto l'immagine senza deformarla
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

// Aggiungo l'effetto hover alla card
.card:hover {
    transform: translateY(-10px); // Sollevo la card
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

// Contenuto scorrevole della card
.card-content {
    max-height: 150px;
    overflow-y: auto;
    padding-bottom: 10px; 
}

// Stile per il titolo della card
.card-title {
    color: #fff;
}

// Stile per il footer della card
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 5px;
}

// Icone nel footer della card
.card-footer .crud-icon {    
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

// Stile per i link nelle icone
.crud-icon a {
    text-decoration: none;
}

// Margini per le colonne in dispositivi medi
.row .col-md-4 {
    padding-left: 10px; 
    padding-right: 10px;
}

// Stile per il footer
footer {
    background-color: $footer-bg-color; 
    color: $footer-text-color; 
    text-align: center;
    margin-top: 5rem;

    h5 {
        font-family: 'Verdana', sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
        text-transform: uppercase;
    }

    p, ul li a {
        font-family: 'Verdana', sans-serif;
        font-size: 0.9rem;
        line-height: 1.5;
        color: $footer-text-color; 
        text-decoration: none;

        &:hover {
            color: $accent-color; 
        }
    }

    .container {
        hr {
            background-color: lightgray;
        }
        p.mb-0 {
            font-size: 0.8rem;
        }
    }
}

// Contenitore overlay
.overlay-container {
    position: relative;
    width: 100%;
}

// Stile per il textarea dei dettagli
#dettagli {
    min-height: 150px; // Aumento l'altezza minima per gestire più contenuto
    resize: vertical; // Mantengo la possibilità di ridimensionare verticalmente
    max-height: none; // Rimuovo qualsiasi limite di altezza
    width: 100%;
    background-color: rgba(5, 45, 94, 0.6);
    color: $text-color; 
    overflow-y: auto; // Permetto lo scroll se il testo è molto lungo
    padding-bottom: 30px; 
}

// Contatore di caratteri nel textarea
.char-count {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #666;
    font-size: 12px;
    pointer-events: none; 
    z-index: 10; 
}

// Stile per le liste dell'itinerario
.itinerary-list, .tappe-list {
    list-style-type: none;
    padding: 0;
    background-color: rgba(5, 45, 94, 0.6);
    border: none;
}

// Stile per le giornate nell'itinerario
.giornata-details {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(5, 45, 94, 0.6);
    border-radius: 5px;
}

// Stile per la data della giornata
.giornata-date {
    font-weight: bold;
    color: $text-color;
}

// Stile per gli elementi delle tappe
.tappa-item {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
}

// Stile per la lista degli elementi
.list-group-item {
    background-color: rgba(136, 176, 230, 0.6);
    color: $text-color;
    border: none;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 10px;
}

// Stile generale per input e textarea
input[type="text"],
input[type="number"],
input[type="date"],
select[type="periodo"],
input[type="file"],
label[type="file"],
textarea[type="text"],
textarea,
select {
    background-color: rgba(5, 45, 94, 0.1); 
    color: $text-color; 
    border: 1px solid darken($background-color, 10%); 
    border-radius: 4px; 
    padding: 10px; 
    font-family: 'Poppins', sans-serif; 
}

// Stile per l'input quando è in focus
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select[type="periodo"]:focus,
input[type="file"]:focus,
label[type="file"]:focus,
textarea[type="text"]:focus,
textarea:focus,
select:focus {
    background-color: rgba(5, 45, 94, 0.2); 
    border-color: $primary-color; 
    outline: none; 
    color: $text-color; 
    box-shadow: 0 0 5px rgba(5, 45, 94, 0.4); 
}

// Bottone per rimuovere le tappe
.remove-tappa-button {
    background-color: $text-color !important; 
    border-color: $text-color !important;
    color: #fff !important;
    transition: background-color 0.3s ease; 
}

.remove-tappa-button:hover {
    background-color: darken($text-color, 50%) !important; 
}

// Bottone per aggiungere le tappe
.add-tappa-button {
    background-color: $primary-color !important;
    transition: background-color 0.3s ease; 
}

.add-tappa-button:hover {
    background-color: darken($primary-color, 20%) !important;
}

// Stile del contenitore principale dell'applicazione
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; // L'area principale occupa lo spazio disponibile
}