@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'partials/variables';

// Navbar Styles
.navbar {
    background-color: $navbar-bg-color;
    .navbar-brand {
        color: $navbar-text-color;
        font-weight: bold;
        margin-left: 10px;

        &:hover {
            color: lighten($navbar-text-color, 20%);
        }
    }

    .nav-link {
        color: $navbar-text-color;
        font-weight: bold;
        transition: color 0.4s ease;

        &:hover {
            color: $accent-color;
        }
    }

    .dropdown-menu {
        background-color: $navbar-bg-color;
    }
}

// Stile per la scrollbar del box Itinerario
.itinerary-scroll {
    max-height: 300px; 
    overflow-y: auto;    
    overflow-x: hidden;    
    padding-right: 15px; 
}

// Stile per i box delle informazioni e itinerario
.info-box, .itinerary-card {
    min-height: 550px; 
    height: auto;    
    overflow-y: auto; 
    background-color: rgba(5, 45, 94, 0.6); // Stesso sfondo delle card
    color: $text-color; // Colore del testo
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

// Stili dei titoli e card
h1, .card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: $primary-color; 
}

.header-section {
    background-color: hsl(211, 74%, 8%);
    color: white;
    padding: 2rem;
    text-align: center;

    h3 {
        font-family: 'Bungee', sans-serif;   
        font-size: 3rem;
        color: #3B945E;
        text-align: center;
        margin-bottom: 15px;
    }
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.header-section {
    position: relative;  
    z-index: 1;  
    color: white;  
    text-align: center;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5);  
}

// Definizione dell'animazione
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    width: 100%;
    max-width: 600px;
    min-height: 500px;
    overflow: hidden;
    background-color: rgba(5, 45, 94, 0.6); 
    color: $text-color;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 50px; 
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 5px;
}

.card-footer .crud-icon {    
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.crud-icon a {
    text-decoration: none;
}

.row .col-md-4 {
    padding-left: 10px; 
    padding-right: 10px;
}

// Footer Styles
footer {
    background-color: $footer-bg-color; 
    color: $footer-text-color; 
    text-align: center;
    margin-top: 5rem;

    h5 {
        font-family: 'Verdana', sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
        text-transform: uppercase;
    }

    p, ul li a {
        font-family: 'Verdana', sans-serif;
        font-size: 0.9rem;
        line-height: 1.5;
        color: $footer-text-color; 
        text-decoration: none;

        &:hover {
            color: $accent-color; 
        }
    }

    .container {
        hr {
            background-color: lightgray;
        }
        p.mb-0 {
            font-size: 0.8rem;
        }
    }
}

.overlay-container {
    position: relative;
    width: 100%;
}

#dettagli {
    min-height: 100px;
    resize: vertical;
    padding-bottom: 30px; // Spazio per il contatore
    width: 100%;
    background-color: rgba(5, 45, 94, 0.6); // Sfondo simile alle card
    color: $text-color; // Colore del testo
}

.char-count {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #666;
    font-size: 12px;
    pointer-events: none; // Rende il testo non cliccabile
    z-index: 10; // Assicura che il contatore sia sopra il textarea
}

.itinerary-list, .tappe-list {
    list-style-type: none;
    padding: 0;
    background-color: rgba(5, 45, 94, 0.6);
    border: none;
}

.giornata-details {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(5, 45, 94, 0.6);
    border-radius: 5px;
}

.giornata-date {
    font-weight: bold;
    color: $text-color;
}

.tappa-item {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.list-group-item {
    background-color: rgba(136, 176, 230, 0.6);
    color: $text-color;
    border: none;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 10px;
}

// Stili generali per input e textarea
input[type="text"],
input[type="number"],
input[type="date"],
select[type="periodo"],
input[type="file"],
label[type="file"],
textarea[type="text"],
textarea,
select {
    background-color: rgba(5, 45, 94, 0.1); // Sfondo leggermente colorato
    color: $text-color; // Colore del testo coerente con il tema
    border: 1px solid darken($background-color, 10%); // Bordo leggermente più scuro dello sfondo
    border-radius: 4px; // Angoli arrotondati per un aspetto moderno
    padding: 10px; // Padding per un aspetto più spazioso
    font-family: 'Poppins', sans-serif; // Font coerente con il tema generale
}

// Stile per quando il campo è in focus (per dare un feedback visivo)
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select[type="periodo"]:focus,
input[type="file"]:focus,
label[type="file"]:focus,
textarea[type="text"]:focus,
textarea:focus,
select:focus {
    background-color: rgba(5, 45, 94, 0.2); // Sfondo più chiaro per il focus
    border-color: $primary-color; // Colore del bordo del tema principale per il focus
    outline: none; // Rimuove il contorno predefinito del focus
    box-shadow: 0 0 5px rgba(5, 45, 94, 0.4); // Aggiunge un leggero effetto di ombra
}

.remove-tappa-button {
    background-color: $text-color !important; // Usa il colore principale del tema
    border-color: $text-color !important;
    color: #fff !important; // Colore del testo bianco per contrasto
    transition: background-color 0.3s ease; // Transizione per un feedback visivo
}

.remove-tappa-button:hover {
    background-color: darken($text-color, 50%) !important; // Scurisce il colore al passaggio del mouse
}

.add-tappa-button {
    background-color: $primary-color !important; // Usa il colore principale del tema
    transition: background-color 0.3s ease; // Transizione per un feedback visivo
}

.add-tappa-button:hover {
    background-color: darken($primary-color, 20%) !important; // Scurisce il colore al passaggio del mouse
   
}