// _variables.scss

$primary-color: rgb(81, 113, 201);
; // Verde salvia per la navbar
$secondary-color: #F3E9D2; // Beige tenue per sfondi o dettagli
$accent-color: #FF6F61; // Corallo per pulsanti e link attivi
$background-color: #FAFAFA; // Grigio molto chiaro per lo sfondo principale
$text-color: #adb1d6; // Grigio scuro per una buona leggibilità del testo
$navbar-bg-color: $primary-color; // Usa il verde salvia per la navbar
$navbar-text-color: #ffffff; // Testo bianco per contrasto
$footer-bg-color: rgb(69, 101, 131); // Verde scuro per il footer
$footer-text-color: #ffffff; // Bianco per il testo del footer