$primary-color: #020701; 
$secondary-color: #b7f50c; 
$accent-color: #da8907; 
$background-color: #f1f391; 
$text-color: #2f4f4f; 
$logo-color: #24d124;
$navbar-bg-color: #070707;
$navbar-text-color: #ffffff;
$navbar-brand-color: #e5ff00;