$primary-color: #ff2600; // Un arancione corallo per gli elementi principali
$secondary-color: #3be966; // Un arancione chiaro per elementi secondari
$accent-color: #da8907; // Un rosso-arancione brillante per gli accenti
$background-color: #bfda26; // Un arancione pallido per il background
$text-color: #2f4f4f; // Un colore grigio scuro per il testo
$logo-color: #ff4500; // Un arancione scuro per il logo in trasparenza